<strong>
  Recuperação de senha
</strong>

<p> Solicitação para recuperação de senha para: {{email}} segue o token {{token}} </p>
<p> Clique abaixo para recuperar sua senha <a href={{link}}> criar senha </a> </p>
